{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block navhome %}
    active
{% endblock %}
{% block headerdiv %}{% endblock %}
{% block bodystyle %}
    style="background-color: black"
{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.4/r-2.4.1/sc-2.1.1/sb-1.4.2/datatables.min.css" rel="stylesheet"/>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.4/r-2.4.1/sc-2.1.1/sb-1.4.2/datatables.min.js"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row gutters-sm mt-5">
                    <div class="col-md-3 d-none d-md-block mt-3">
                        <div class="card">
                    <div class="card-body">
                        <nav class="nav flex-column nav-pills nav-gap-y-1">
                            <a href="#userInfo" data-bs-toggle="tab" class="nav-item nav-link has-icon nav-link-faded active">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user me-2"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>Account Info
                            </a>
{#                            <a href="#product" data-bs-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">#}
{#                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="-4 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="bi bi-box me-1" >#}
{#                                    <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>#}
{#                                </svg> Product Management#}
{#                            </a>#}
                            <a href="#contact" data-bs-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield me-2"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path></svg>Contact Info
                            </a>
                            <a href="#paymentDetails" data-bs-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield me-2"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path></svg>Payment Details
                            </a>
                        </nav>
                    </div>
                        </div>
                    </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header border-bottom mb-3 d-flex d-md-none">
                        <ul class="nav nav-tabs card-header-tabs nav-gap-x-1" role="tablist">
                            <li class="nav-item">
                                <a href="#userInfo" data-bs-toggle="tab" class="nav-link has-icon active"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user me-2"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                </a>
                            </li>
{#                            <li class="nav-item">#}
{#                                <a href="#product" data-bs-toggle="tab" class="nav-link has-icon"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="-2 -2 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="me-2">#}
{#                                        <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>#}
{#                                    </svg><span class="d-none d-md-inline-block">Products</span></a>#}
{#                            </li>#}
                            <li class="nav-item">
                                <a href="#contact" data-bs-toggle="tab" class="nav-link has-icon"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="-2 -2 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="me-2">
                                        <path fill-rule="evenodd" d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z"/>
                                        <path fill-rule="evenodd" d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zM4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"/>
                                    </svg></a>
                            </li>
                            <li class="nav-item">
                                <a href="#paymentDetails" data-bs-toggle="tab" class="nav-link has-icon"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="-2 -2 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="me-2">
                                        <path fill-rule="evenodd" d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z"/>
                                        <path fill-rule="evenodd" d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zM4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"/>
                                    </svg></a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body tab-content">
                        <div class="tab-pane active" id="userInfo">
                            <div class="d-flex">
                                <div class="col-6 border-end pe-4">
                                    <h4 class="text-dark mt-3">User info</h4>
                                    {{ form_start(form) }}
                                    <div class="row input-group mb-3 ms-1">
                                    {{ form_errors(form.firstName) }}
                                    {{ form_label(form.firstName) }}
                                    {{ form_widget(form.firstName) }}
                                    </div>
                                    <div class="row input-group mb-3 ms-1">
                                    {{ form_errors(form.lastName) }}
                                    {{ form_label(form.lastName) }}
                                    {{ form_widget(form.lastName) }}
                                    </div>
                                    <div class="row input-group mb-3 ms-1">
                                        {{ form_errors(form.country) }}
                                        {{ form_label(form.country) }}
                                        {{ form_widget(form.country) }}
                                    </div>
                                    <div class="row input-group mb-3 ms-1">
                                    {{ form_widget(form.submit, {'label_html': form.submit.vars.label|raw}) }}
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                                <div class="col-6 ms-3 p-3">
                                    <h4 class="text-dark">User details</h4>
                                    {{ form_start(password_form) }}
                                    <div class="row input-group mb-3">
                                        {{ form_errors(password_form.oldPassword) }}
                                        {{ form_label(password_form.oldPassword) }}
                                        {{ form_widget(password_form.oldPassword) }}
                                    </div>
                                    <div class="row input-group mb-3">
                                        {{ form_errors(password_form.changePassForm.plainPassword.first) }}
                                        {{ form_label(password_form.changePassForm.plainPassword.first) }}
                                        {{ form_widget(password_form.changePassForm.plainPassword.first) }}
                                    </div>
                                    <div class="row input-group mb-3">
                                        {{ form_errors(password_form.changePassForm.plainPassword.second) }}
                                        {{ form_label(password_form.changePassForm.plainPassword.second) }}
                                        {{ form_widget(password_form.changePassForm.plainPassword.second) }}
                                    </div>
                                    <div class="row col-md-5 mb-3">
                                        <button class="btn btn-outline-primary">Change Password</button>
                                    </div>


                                    {{ form_end(password_form) }}
                                    {{ form_start(email_form) }}
                                    <div class="border-top row">
                                        <div class="row input-group mb-3">
                                            {{ form_errors(email_form.email) }}
                                            {{ form_label(email_form.email) }}
                                            {{ form_widget(email_form.email) }}
                                        </div>
                                        {% if not app.user.isVerified %}
                                            <p id="verifMsg" class="form-text" data-email="{{ app.user.email }}">The current email ({{ app.user.email }}) is not verified! You will not be able to order products until you confirm it. Click <a href="javascript:void(0)" class="link-primary" id="resend">here</a> to resend verification!</p>
                                        {% endif %}
                                        <div class="row input-group me-2">
                                            <button class="btn btn-outline-primary">Change Email</button>
                                        </div>
                                    </div>
                                    {{ form_end(email_form) }}

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="contact">
                            <h4 class="text-dark col-6">Contact Adresses</h4>
                            <table class="table table-striped" id="contact-table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Country</th>
                                        <th scope="col">State</th>
                                        <th scope="col">City</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Postal Code</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for contact in contacts %}
                                        {% include 'element_templates/contact.html.twig' with {'contact': contact} %}
                                    {% endfor %}
                                    </tbody>
                            </table>
                            <button type="button" class="btn btn-dark conbtn" data-bs-toggle="modal" data-bs-target="#myModal">Add Contact</button>

                        </div>
                        <div class="tab-pane" id="paymentDetails">
                            <h4 class="text-dark col-6">Payment Details</h4>
{#         TODO: Check validation for card              #}
                            <table class="table table-striped" id="payment-table">
                                <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Card Numbers</th>
                                    <th scope="col">Card Holder</th>
                                    <th scope="col">Expiration Date</th>
                                    <th scope="col">Created At</th>
                                    <th scope="col">Last Modified</th>
                                    <th scope="col">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for payment in payments %}
                                    {% include 'element_templates/payment_detail.html.twig' with {'payment': payment} %}
                                {% endfor %}
                                </tbody>
                            </table>
                            <button type="button" class="btn btn-dark conbtn" data-bs-toggle="modal" data-bs-target="#paymentModal">Add Payment Details</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add a modal to the template -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Contact</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="modal-form">
                        {{ form_errors(contact_form) }}
                        {{ form_start(contact_form, {'attr': {'id': 'modal-form'}}) }}
                        <div class="row input-group mb-3 ms-1">
                            {{ form_errors(contact_form.name) }}
                            {{ form_label(contact_form.name) }}
                            {{ form_widget(contact_form.name) }}
                        </div>
                        <div class="row input-group mb-3 ms-1">
                            {{ form_errors(contact_form.country) }}
                            {{ form_label(contact_form.country) }}
                            {{ form_widget(contact_form.country) }}
                        </div>
                        <div class="row input-group mb-3 ms-1">
                            {{ form_errors(contact_form.county) }}
                            {{ form_label(contact_form.county) }}
                            {{ form_widget(contact_form.county) }}
                        </div>
                        <div class="row input-group mb-3 ms-1">
                            {{ form_errors(contact_form.city) }}
                            {{ form_label(contact_form.city) }}
                            {{ form_widget(contact_form.city) }}
                        </div>
                        <div class="row input-group mb-3 ms-1">
                            {{ form_errors(contact_form.address) }}
                            {{ form_label(contact_form.address) }}
                            {{ form_widget(contact_form.address) }}
                        </div>
                        <div class="row input-group mb-3 ms-1">
                            {{ form_errors(contact_form.postalCode) }}
                            {{ form_label(contact_form.postalCode) }}
                            {{ form_widget(contact_form.postalCode) }}
                        </div>
                        <div class="row input-group mb-3 ms-1">
                            {{ form_errors(contact_form.phone) }}
                            {{ form_label(contact_form.phone) }}
                            {{ form_widget(contact_form.phone) }}
                        </div>
                        <div class="row input-group mb-3 ms-1">
                            {{ form_errors(contact_form.email) }}
                            {{ form_label(contact_form.email) }}
                            {{ form_widget(contact_form.email) }}
                        </div>

                        {{ form_widget(contact_form) }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="modal-submit">Submit</button>
                    {{ form_end(contact_form) }}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="paymentModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Payment Details</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="payment-form">
                        {{ form_errors(payment_form) }}
                        {{ form_start(payment_form, {'attr': {'id': 'modal-form'}}) }}
                        <div class="row input-group mb-3 ms-1">
                            {{ form_errors(payment_form.name) }}
                            {{ form_label(payment_form.name) }}
                            {{ form_widget(payment_form.name) }}
                        </div>
                        <div class="row input-group mb-3 ms-1">
                            {{ form_errors(payment_form.cardNumbers) }}
                            {{ form_label(payment_form.cardNumbers) }}
                            {{ form_widget(payment_form.cardNumbers) }}
                        </div>
                        <div class="row input-group mb-3 ms-1">
                            {{ form_errors(payment_form.cardHolder) }}
                            {{ form_label(payment_form.cardHolder) }}
                            {{ form_widget(payment_form.cardHolder) }}
                        </div>
                        <div class="row input-group mb-3 ms-1">
                            {{ form_errors(payment_form.expirationDate) }}
                            {{ form_label(payment_form.expirationDate) }}
                            {{ form_widget(payment_form.expirationDate) }}
                        </div>
                        {{ form_widget(payment_form) }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="payment-submit">Submit</button>
                    {{ form_end(payment_form) }}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmTitle">Confirmation Message</h5>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="modConfirmBtn" class="btn btn-primary">Confirm</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmModalPayment" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmTitlePayment">Confirmation Message</h5>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="modConfirmBtnPayment" class="btn btn-primary">Confirm</button>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block javascriptsend %}
        <script src="/js/usersettings.js"></script>
    {% endblock %}