{% extends 'base.html.twig' %}

{% block title %}PC Builder{% endblock %}

{% block navhome %}
    active
{% endblock %}
{% block headerdiv %}{% endblock %}
{% block stylesheets %}
{#            {{ encore_entry_link_tags('app') }}#}
    <link rel="stylesheet" href="/css/pcbuilder.css">
{% endblock %}
{% block bodystyle %}
    style="background-color: black"
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <ul class="nav nav-pills mb-3 d-inline-flex justify-content-center" id="categoryList" role="tablist">
                {% for category in categories %}
                    <li class="nav-item">
                        <a class="nav-link" id="pills-{{ category.categoryName }}" title="{{ category.categoryName|capitalize }}" data-bs-original-title="{{ category.categoryName }}" data-category="{{ category.id }}" data-toggle="pill" href="javascript:void(0)" role="tab" aria-controls="productList" aria-selected="true">
                            <img src="/svg/{{ category.id }}.svg" style="width:35px;height:35px">
                            <span class="d-none d-md-inline">{{ category.categoryName|capitalize }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="row">
            <div class="col-12 col-md-2" id="filterDiv">
                <ul id="filterList"style="list-style:none;">
{#                    {% include 'element_templates/filter_list.html.twig' with {'filters': filters} %}#}
                </ul>
            </div>
            <div class="col-12 col-md-10" id="productList"></div>
            <div class="d-flex flex-column flex-shrink-0 bg-light " style="width: 4.5rem;">
{#                <a href="javascript:void(0)" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" data-bs-placement="right" data-bs-original-title="Icon-only">#}
{#                    Open List#}
{#                    <span class="visually-hidden">Icon-only</span>#}
{#                </a>#}
{#                <ul class="nav nav-pills nav-flush flex-column mb-auto text-center" id="categoryList">#}
{#                    {% for category in categories %}#}
{#                        <li class="nav-item border">#}
{#                            <a href="javascript:void(0)" class="nav-link py-3 border-bottom" aria-current="page" title="{{ category.categoryName|capitalize }}" data-category="{{ category.id }}" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="{{ category.categoryName }}">#}
{#                                <img src="/svg/{{ category.id }}.svg" style="width:35px;height:35px">#}
{#                            </a>#}
{#                        </li>#}
{#                    {% endfor %}#}
{#                </ul>#}
                {#            <div class="dropdown border-top">#}
                {#                <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">#}
                {#                    <img src="https://github.com/mdo.png" alt="mdo" class="rounded-circle" width="24" height="24">#}
                {#                </a>#}
                {#                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3" style="">#}
                {#                    <li><a class="dropdown-item" href="#">New project...</a></li>#}
                {#                    <li><a class="dropdown-item" href="#">Settings</a></li>#}
                {#                    <li><a class="dropdown-item" href="#">Profile</a></li>#}
                {#                    <li><hr class="dropdown-divider"></li>#}
                {#                    <li><a class="dropdown-item" href="#">Sign out</a></li>#}
                {#                </ul>#}
                {#            </div>#}
            </div>
        </div>
    </div>

{#    OFFCANVAS FOR COMPONENT LIST#}
    <div class="offcanvas offcanvas-end w-75" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">PC Builder Template #<span id="uid">{{ uid }}</span></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="row d-flex">
                <form id="pcbuilder">
                    <div class="row input-group col-12 ms-1 align-items-end">
                        <div>
                        {{ form_label(form.templateName) }}:
                        <span id="t-name">{{ form.vars.value.templateName}}</span>
                        {{ form_widget(form.templateName) }}
                        <a class="btn btn-outline-primary rounded-5 text-center ms-1" style="width:40px" id="t-update-name"><i class="bi bi-pencil"></i></a>
                        </div>
                    </div>
                    <div class="row input-group input-hidden ms-1">
                        <div class="mb-1">
                        {{ form_label(form.templateDescription) }}
                            <a class="btn btn-outline-primary rounded-5 text-center ms-1" style="width:100px" id="t-update-desc"><i class="bi bi-arrow-repeat"></i> Update</a>
                        </div>
                        {{ form_widget(form.templateDescription) }}
                        <div class="rounded-bottom bg-white" id="editor">
                        </div>
                    </div>
                    <div class="input-group row mt-2 mb-1 ms-1">
                        <a class="btn btn-outline-primary col-12 col-lg-3" data-bs-toggle="modal" data-bs-target="#selectModal"  href="javascript:void(0)">Generate build based on current selection</a>
                        <a class="btn btn-outline-success col-12 col-lg-2" id="visitTemplate" href="{{ path('app_pcbuilder_template',{uid:uid}) }}">View Template</a>
                        <div class="col-12 col-lg-6">
                            <label for="linkInput">Template share link:</label>
                            <input class="col-9" type="text" id="linkInput" value="{{ absolute_url(path('app_pcbuilder_template',{uid:uid})) }}" readonly/>
                        </div>
                        <p id="genOutcome"></p>
                    </div>
                    <table class="table">
                        <thead class="text-body bg-transparent">
                        <tr>
                            <th scope="col">Component</th>
                            <th scope="col">Product</th>
                            <th scope="col">Specifications</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody class="bg-white cart-btn" id="category-table">
                        {% include 'element_templates/pcbuilder_offcanvas_products_table.html.twig' with {categories:categories,selectedProducts:selectedProducts,consumption_total:consumption_total,psu_advice:psu_advice,price_total:price_total,compatibility_problems:compatibility_problems} %}

                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <div class="size-button">
        <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" class="btn btn-primary btn-rounded">
            <i class="bi bi-caret-left-fill"></i>
        </button>
    </div>
    <div class="modal fade" id="selectModal" tabindex="-1" aria-labelledby="selectModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="selectModalLabel">Please input a maximum budget for the build.</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="#selectModalBody">
                    <div class="row">
                        <div class="form-floating">
                            <input id="income" name="budget" type="text" class="form-control ms-1" placeholder="1000 RON">
                            <label for="budget" class="ms-3">Budget</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="fetchBuilds" class="btn btn-outline-primary" data-category="0" data-bs-dismiss="modal">Fetch premade builds</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="infoModalLabel">!Part name here! info.</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="infoModalBody">
                    <div class="row">
                        <div class="form-floating">
                            <p id="infoModalDesc">Info about part here.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptsend %}
    <script>
        const quickadvice = JSON.parse(`{{ quick_advice | json_encode | raw }}`);
    console.log(quickadvice);
    </script>
    <script src=" https://cdn.jsdelivr.net/npm/quill-image-drop-module@1.0.3/image-drop.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/@botom/quill-resize-module@2.0.0/dist/quill-resize-module.js" integrity="sha256-gTRDF8F0xoFWFk4MTlXJXwQXiQBBCf2l3wcgkfEO/Zs=" crossorigin="anonymous"></script>
    <script src="/js/pcbuilder.js"></script>
    <script src="/js/template_cart.js"></script>
{% endblock %}