{% extends 'base.html.twig' %}

{% block title %}PCStore{% endblock %}

{% block navhome %}
active
{% endblock %}
{% block stylesheets %}
    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.4/r-2.4.1/sc-2.1.1/sb-1.4.2/datatables.min.css" rel="stylesheet"/>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.4/r-2.4.1/sc-2.1.1/sb-1.4.2/datatables.min.js"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row gutters-sm">
        <div class="col-md-3 d-none d-md-block mt-3">
            <div class="card">
                <div class="card-body">
                    <nav class="nav flex-column nav-pills nav-gap-y-1">
                        <a href="#users" data-bs-toggle="tab" class="nav-item nav-link has-icon nav-link-faded active">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user me-2"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>User Management
                        </a>
                        <a href="#product" data-bs-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="-4 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="bi bi-box me-1" >
                                <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                            </svg> Product Management
                        </a>
                        <a href="#location" data-bs-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield me-2"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path></svg>Location Management
                        </a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header border-bottom mb-3 d-flex d-md-none">
                    <ul class="nav nav-tabs card-header-tabs nav-gap-x-1" role="tablist">
                        <li class="nav-item">
                            <a href="#users" data-bs-toggle="tab" class="nav-link has-icon active"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg></a>
                        </li>
                        <li class="nav-item">
                            <a href="#product" data-bs-toggle="tab" class="nav-link has-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg></a>
                        </li>
                        <li class="nav-item">
                            <a href="#location" data-bs-toggle="tab" class="nav-link has-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path></svg></a>
                        </li>
                    </ul>
                </div>
                <div class="card-body tab-content">
                    <div class="tab-pane active" id="users">
                        <h4 class="text-light">Users</h4>
                        <div class="table-responsive">
                            <table id="usertable" class="table table-striped rounded users">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="row">Email</th>
                                    <th scope="row">Name</th>
                                    <th scope="row">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for usr in users %}
                                    <tr>
                                        <th scope="row">{{ usr.email }}</th>
                                        <td>{{ usr.firstName }} {{ usr.lastName }}</td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="product">
                        <h4 class="text-light">Products</h4>
{#                        <div class="table-responsive">#}
                            <table id="producttable" class="table table-striped display rounded products" style="width:100%;">
                                <thead class="thead-light">
                                <tr>
                                    <th></th>
                                    <th scope="col">SKU</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Created At</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">UID</th>
                                    <th scope="col">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for prod in products %}
                                    <tr>
                                        <td></td>
                                        <td>{{ prod.sku }}</td>
                                        <td class="pname">{{ prod.name }}</td>
                                        <td>{{ prod.type }}</td>
                                        <td>{{ prod.createdAt|date('d/m/Y') }}</td>
                                        <td>{{ prod.price }}</td>
                                        <td>{{ prod.status }}</td>
                                        <td class="text-truncate" style="max-width:100px;">{{ prod.uid }}</td>

                                        <td><a class="btn btn-dark" href="{{ path('app_product',{id:prod.uid}) }}"><i class="bi bi-info-circle"></i></a><a class="btn btn-dark" href="{{ path('app_edit_product',{product_id: prod.uid}) }}"><i class="bi bi-pencil-square"></i></a><button type="button" class="btn btn-dark conbtn" data-bs-toggle="modal" data-href="{{ path('app_delete_product',{product_id: prod.uid}) }}" data-bs-target="#confirmModal"><i class="bi bi-trash"></i></button></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
{#                        </div>#}
                    </div>
                    <div class="tab-pane" id="location">
                        <h4 class="text-light">Locations</h4>
                        <div class="table-responsive">
                            <table id="locationtable" class="table table-striped rounded locations">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for loc in locations %}
                                    <tr>
                                        <th scope="row">{{ loc.id }}</th>
                                        <td class="pname">{{ loc.name }}</td>
                                        <td>{{ loc.address }}</td>
                                        <td><a class="btn btn-dark" href="{{ path('app_edit_location',{id: loc.id}) }}"><i class="bi bi-pencil-square"></i></a><button type="button" class="btn btn-dark conbtn" data-bs-toggle="modal" data-href="{{ path('app_delete_location',{id:loc.id}) }}" data-bs-target="#confirmModal"><i class="bi bi-trash"></i></button></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmTitle">Confirmation Message</h5>
{#                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">#}
{#                        <span aria-hidden="true">&times;</span>#}
{#                    </button>#}
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="modConfirmBtn" class="btn btn-primary">Confirm</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptsend %}

    <script src="/js/adminmenu.js"></script>
{% endblock %}
