{% extends 'base.html.twig' %}

{% block title %}Hardware Trove{% endblock %}

{% block navhome %}
active
{% endblock %}
{% block bodystyle %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/shop.css">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-2">
            <ul style="list-style: none;">
                <li class="mb-2 p-1">
                    <h5 class="text-body-emphasis text-decoration-none">Categories</h5>
                </li>
                <li>
                    <a href="{{ path('app_catalog',{value:'gpu'}) }}" class="bg-transparent text-body-emphasis text-decoration-none ms-1">GPUs</a>
                </li>
                <li>
                    <a href="{{ path('app_catalog',{value:'cpu'}) }}" class="bg-transparent text-body-emphasis text-decoration-none ms-1">CPUs</a>
                </li>
                <li>
                    <a href="{{ path('app_catalog',{value:'motherboard'}) }}" class="bg-transparent text-body-emphasis text-decoration-none ms-1">Motherboards</a>
                </li>
                <li>
                    <a href="{{ path('app_catalog',{value:'memory'}) }}" class="bg-transparent text-body-emphasis text-decoration-none ms-1">Memories</a>
                </li>
                <li>
                    <a href="{{ path('app_catalog',{value:'ssd'}) }}" class="bg-transparent text-body-emphasis text-decoration-none ms-1">SSDs</a>
                </li>
                <li>
                    <a href="{{ path('app_catalog',{value:'hdd'}) }}" class="bg-transparent text-body-emphasis text-decoration-none ms-1">HDDs</a>
                </li>
                <li>
                    <a href="{{ path('app_catalog',{value:'psu'}) }}" class="bg-transparent text-body-emphasis text-decoration-none ms-1">PSUs</a>
                </li>
                <li>
                    <a href="{{ path('app_catalog',{value:'pccase'}) }}" class="bg-transparent text-body-emphasis text-decoration-none ms-1">PC Cases</a>
                </li>
                <li>
                    <a href="{{ path('app_catalog',{value:'cooler'}) }}" class="bg-transparent text-body-emphasis text-decoration-none ms-1">Coolers</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-10">
            <h4 class="text-body-emphasis">GPUs</h4>
            {% for row in products.1|batch(4) %}
                <div class="row bg-transparent">
                    {% for gpu in row  %}
                        {% include 'element_templates/card.html.twig' with {'card': gpu} %}
                    {% endfor %}
                </div>
            {% endfor %}
            <h4 class="text-body-emphasis">CPUs</h4>
            {% for row in products.2|batch(4) %}
                <div class="row bg-transparent">
                    {% for cpu in row  %}
                        {% include 'element_templates/card.html.twig' with {'card': cpu} %}
                    {% endfor %}
                </div>
            {% endfor %}
            <h4 class="text-body-emphasis">Motherboards</h4>
            {% for row in products.4|batch(4) %}
                <div class="row bg-transparent">
                    {% for mb in row  %}
                        {% include 'element_templates/card.html.twig' with {'card': mb} %}
                    {% endfor %}
                </div>
            {% endfor %}
            <h4 class="text-body-emphasis">RAM</h4>
            {% for row in products.3|batch(4) %}
                <div class="row bg-transparent">
                    {% for mem in row  %}
                        {% include 'element_templates/card.html.twig' with {'card': mem} %}
                    {% endfor %}
                </div>
            {% endfor %}
            <h4 class="text-body-emphasis">SSDs</h4>
            {% for row in products.5|batch(4) %}
                <div class="row bg-transparent">
                    {% for ssd in row  %}
                        {% include 'element_templates/card.html.twig' with {'card': ssd} %}
                    {% endfor %}
                </div>
            {% endfor %}
            <h4 class="text-body-emphasis">Hard Disks</h4>
            {% for row in products.9|batch(4) %}
            <div class="row bg-transparent">
                {% for hdd in row  %}
                    {% include 'element_templates/card.html.twig' with {'card': hdd} %}
                {% endfor %}
            </div>
            {% endfor %}
            <h4 class="text-body-emphasis">PSUs</h4>
            {% for row in products.6|batch(4) %}
            <div class="row bg-transparent">
                {% for psu in row  %}
                    {% include 'element_templates/card.html.twig' with {'card': psu} %}
                {% endfor %}
            </div>
            {% endfor %}
            <h4 class="text-body-emphasis">PC Cases</h4>
            {% for row in products.7|batch(4) %}
            <div class="row bg-transparent">
                {% for case in row  %}
                    {% include 'element_templates/card.html.twig' with {'card': case} %}
                {% endfor %}
            </div>
            {% endfor %}
            <h4 class="text-body-emphasis">Coolers</h4>
            {% for row in products.8|batch(4) %}
            <div class="row bg-transparent">
                {% for cooler in row  %}
                    {% include 'element_templates/card.html.twig' with {'card': cooler} %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container" >

</div>
{% endblock %}
