{# GPU #}
{#<div class="card bg-dark text-light bg-opacity-50" style="width: 16rem;">#}
{#    <img src="{{ product.thumbnail }}" class="card-img-top" alt="...">#}
{#    <div class="card-body">#}
{#        <h5 class="card-title">{{ product.title }}</h5>#}
{#        <p class="card-text"><ul>#}
            {% block memoryinfo %}
                <li class="list-group-item">Tip:{{ product.memtype }}</li>
                <li class="list-group-item">Capacitate: {{ product.capacity }} GB</li>
                <li class="list-group-item">Frecventa: {{ product.frequency }} MHz</li>
                <li class="list-group-item">Latenta CAS: {{ product.latency }} CL</li>
            {% endblock %}
            {% block gpuinfo %}
                <li class="list-group-item">Interfata: {{ product.interface }}</li>
                <li class="list-group-item">Seria: {{ product.series }}</li>
                <li class="list-group-item">GPU Boost clock: {{ product.clock }} MHz</li>
                <li class="list-group-item">Tip memorie: {{ product.memory }}</li>
                <li class="list-group-item">Dimensiune memorie: {{ product.size }} GB</li>
            {% endblock %}
            {% block cpuinfo %}
                <li class="list-group-item">Socket: {{ product.socket }}</li>
                <li class="list-group-item">Seria: {{ product.series }}</li>
                <li class="list-group-item">Nucleu: {{ product.core }}</li>
                <li class="list-group-item">Frecventa: {{ product.frequency }} GHz</li>
            {% endblock %}
            {% block motherboardinfo %}
                <li class="list-group-item">Format: {{ product.format }}</li>
                <li class="list-group-item">Soclu procesor: {{ product.cpusocket }}</li>
                <li class="list-group-item">Producator chipset: {{ product.chipset }}</li>
                <li class="list-group-item">Model chipset: {{ product.modelchipset }}</li>
                <li class="list-group-item">Interfata grafica: {{ product.interface }}</li>
                <li class="list-group-item">Tip Memorie: {{ product.memory }}</li>
                <li class="list-group-item">Tehnologie: {{ product.tech }}</li>
            {% endblock %}
            {% block ssdinfo %}
                <li class="list-group-item">Seria: {{ product.series }}</li>
                <li class="list-group-item">Interfata: {{ product.interface }}</li>
                <li class="list-group-item">Capacitate: {{ product.capacity}} TB</li>
                <li class="list-group-item">Citire max.: {{ product.maxreading }} MB/s</li>
            {% endblock %}
            {% block hddinfo %}
                <li class="list-group-item">Seria: {{ product.series }}</li>
                <li class="list-group-item">Interfata: {{ product.interface }}</li>
                <li class="list-group-item">Capacitate: {{ product.capacity }} TB</li>
                <li class="list-group-item">Buffer: {{ product.buffer }} MB</li>
                <li class="list-group-item">Viteza: {{ product.maxreading }} RPM</li>
            {% endblock %}
            {% block psuinfo %}
            <li class="list-group-item">Putere: {{ product.power }} W</li>
            <li class="list-group-item">Ventilatoare: </li>
                {% for vent in product.vents %}
                    <li class="list-group-item">{{ product.vent.name }} </li>
                {% endfor %}
            <li class="list-group-item">PFC: {{ product.pfc }}</li>
            <li class="list-group-item">Eficienta: {{ product.efficiency }} %</li>
            <li class="list-group-item">Certificare: {{ product.certification }}</li>
            {% endblock %}
            {% block pccaseinfo %}
            <li class="list-group-item">Tip: {{ product.casetype }}</li>
            <li class="list-group-item">Dimensiuni (H x D x W): {{ product.height }} x {{ product.diameter }} x {{ product.width }} mm</li>
            <li class="list-group-item">Sloturi expansiune: x{{ product.slots }}</li>
            {% endblock %}
            {% block coolerinfo %}
            <li class="list-group-item">Tip: {{ product.ctype }}</li>
            <li class="list-group-item">Racire: {{ product.cooling }}</li>
            <li class="list-group-item">Inaltime: {{ product.height }} mm</li>
            <li class="list-group-item">Numar Ventilatoare: {{ product.vents }}</li>
            <li class="list-group-item">Dimensiune ventilator: {{ product.size }} mm</li>
            {% endblock %}
{#        </ul></p>#}
{#    </div>#}
{#    <a href="{{ product.product_link }}" class="btn btn-success align-self-center mb-2">Adauga in cos</a>#}
{#</div>#}