{# GPU #}
{#<div class="card bg-dark text-light bg-opacity-50" style="width: 16rem;">#}
{#    <img src="{{ product.thumbnail }}" class="card-img-top" alt="...">#}
{#    <div class="card-body">#}
{#        <h5 class="card-title">{{ product.title }}</h5>#}
{#        <p class="card-text"><ul>#}
            {% block memoryinfo %}
                <li class="list-group-item">Type: {{ product.options[0].optionValue }}</li>
                <li class="list-group-item">Memory Size: {{ product.options[1].optionValue }} GB</li>
                <li class="list-group-item">Frequency: {{ product.options[2].optionValue }} MHz</li>
                <li class="list-group-item">CAS Latency: {{ product.options[3].optionValue }} CL</li>
            {% endblock %}
            {% block gpuinfo %}
                <li class="list-group-item">Interface: {{ product.options[0].optionValue }}</li>
                <li class="list-group-item">GPU Boost clock: {{ product.options[1].optionValue }} MHz</li>
                <li class="list-group-item">Memory Type: {{ product.options[2].optionValue }}</li>
                <li class="list-group-item">Memory Size: {{ product.options[3].optionValue }} GB</li>
                <li class="list-group-item">Series: {{ product.options[4].optionValue }} </li>
            {% endblock %}
            {% block cpuinfo %}
                <li class="list-group-item">Socket: {{ product.options[0].optionValue }}</li>
                <li class="list-group-item">Series: {{ product.options[1].optionValue }}</li>
                <li class="list-group-item">Core: {{ product.options[2].optionValue }}</li>
                <li class="list-group-item">Frequency: {{ product.options[3].optionValue }} GHz</li>
            {% endblock %}
            {% block motherboardinfo %}
                <li class="list-group-item">Format: {{ product.options[0].optionValue }}</li>
                <li class="list-group-item">Processor Socket: {{ product.options[1].optionValue }}</li>
                <li class="list-group-item">Chipset Producer: {{ product.options[2].optionValue }}</li>
                <li class="list-group-item">Chipset Model: {{ product.options[3].optionValue }}</li>
                <li class="list-group-item">Graphical Interface: {{ product.options[4].optionValue }}</li>
                <li class="list-group-item">Memory Type: {{ product.options[5].optionValue }}</li>
                <li class="list-group-item">Technology: {{ product.options[6].optionValue }}</li>
            {% endblock %}
            {% block ssdinfo %}
                <li class="list-group-item">Series: {{ product.options[0].optionValue }}</li>
                <li class="list-group-item">Interface: {{ product.options[1].optionValue }}</li>
                <li class="list-group-item">Size: {{ product.options[2].optionValue}} TB</li>
                <li class="list-group-item">Max. Reading: {{ product.options[3].optionValue }} MB/s</li>
            {% endblock %}
            {% block hddinfo %}
                <li class="list-group-item">Series: {{ product.options[0].optionValue }}</li>
                <li class="list-group-item">Interface: {{ product.options[1].optionValue }}</li>
                <li class="list-group-item">Size: {{ product.options[2].optionValue }} GB</li>
                <li class="list-group-item">Reading Speed: {{ product.options[3].optionValue }} RPM</li>
                <li class="list-group-item">Buffer: {{ product.options[4].optionValue }} MB</li>
            {% endblock %}
            {% block psuinfo %}
            <li class="list-group-item">Power: {{ product.options[0].optionValue }} W</li>
            <li class="list-group-item">PFC:{% if product.options[1].optionValue == 1  %} Yes {% else %} No {% endif%}</li>
{#                {% for vent in product.vents %}#}
{#                    <li class="list-group-item">{{ product.vent.name }} </li>#}
{#                {% endfor %}#}
            <li class="list-group-item">Efficiency: {{ product.options[2].optionValue }} %</li>
            <li class="list-group-item">Certification: {{ product.options[3].optionValue }}</li>
            <li class="list-group-item">No. of vents: {{ product.options[4].optionValue }}</li>
            {% endblock %}
            {% block pccaseinfo %}
            <li class="list-group-item">Type: {{ product.options[0].optionValue }}</li>
            <li class="list-group-item">Dimensions (H x D x W): {{ product.options[1].optionValue }} x {{ product.options[2].optionValue }} x {{ product.options[3].optionValue }} mm</li>
            <li class="list-group-item">No. of slots: x{{ product.options[4].optionValue }}</li>
            {% endblock %}
            {% block coolerinfo %}
            <li class="list-group-item">Type: {{ product.options[0].optionValue }}</li>
            <li class="list-group-item">Cooling: {% if product.options[1].optionValue == 1  %} Active {% else %} Passive {% endif%}</li>
            <li class="list-group-item">No. of Vents: {{ product.options[3].optionValue }}</li>
            <li class="list-group-item">Dimensions (H x W): {{ product.options[2].optionValue }} x {{ product.options[4].optionValue }} mm</li>
            {% endblock %}
{#        </ul></p>#}
{#    </div>#}
{#    <a href="{{ product.product_link }}" class="btn btn-success align-self-center mb-2">Adauga in cos</a>#}
{#</div>#}