{# GPU #}
{#<div class="card bg-dark text-light bg-opacity-50" style="width: 16rem;">#}
{#    <img src="{{ product.thumbnail }}" class="card-img-top" alt="...">#}
{#    <div class="card-body">#}
{#        <h5 class="card-title">{{ product.title }}</h5>#}
{#        <p class="card-text"><ul>#}
            {% block raminfo %}
                <li>Tip:{{ product.type }}</li>
                <li>Capacitate: {{ product.size }} GB</li>
                <li>Frecventa: {{ product.frequency }} MHz</li>
                <li>Latenta CAS: {{ product.latency }} CL</li>
            {% endblock %}
            {% block gpuinfo %}
                <li>Interfata: {{ product.interface }}</li>
                <li>Seria: {{ product.series }}</li>
                <li>GPU Boost clock: {{ product.clock }} MHz</li>
                <li>Tip memorie: {{ product.memory }}</li>
                <li>Dimensiune memorie: {{ product.size }} GB</li>
            {% endblock %}
            {% block cpuinfo %}
                <li>Socket: {{ product.socket }}</li>
                <li>Seria: {{ product.series }}</li>
                <li>Nucleu: {{ product.core }}</li>
                <li>Frecventa: {{ product.frequency }} GHz</li>
            {% endblock %}
            {% block mbinfo %}
                <li>Format: {{ product.format }}</li>
                <li>Soclu procesor: {{ product.socket }}</li>
                <li>Producator chipset: {{ product.prodchipset }}</li>
                <li>Model chipset: {{ product.modelchipset }}</li>
                <li>Interfata grafica: {{ product.interface }}</li>
                <li>Tip Memorie: {{ product.memtype }}</li>
                <li>Tehnologie: {{ product.tech }}</li>
            {% endblock %}
            {% block ssdinfo %}
                <li>Seria: {{ product.series }}</li>
                <li>Interfata: {{ product.interface }}</li>
                <li>Capacitate: {{ product.size}} TB</li>
                <li>Citire max.: {{ product.maxread }} MB/s</li>
            {% endblock %}
            {% block hddinfo %}
                <li>Seria: {{ product.series }}</li>
                <li>Interfata: {{ product.interface }}</li>
                <li>Capacitate: {{ product.size }} TB</li>
                <li>Buffer: {{ product.buffer }} MB</li>
                <li>Viteza: {{ product.maxread }} RPM</li>
            {% endblock %}
            {% block psuinfo %}
            <li>Putere: {{ product.power }} W</li>
            <li>Numar ventilatoare: {% for vent in vents %} {{ product.vent }} {% endfor %}</li>
            <li>PFC: {{ product.pfc }}</li>
            <li>Eficienta: {{ product.efficiency }}</li>
            <li>Certificare: {{ product.certification }}</li>
            {% endblock %}
            {% block caseinfo %}
            <li>Tip: {{ product.casetype }}</li>
            <li>Dimensiuni (H x D x W): {{ product.height }} x {{ product.size }} x {{ product.width }} mm</li>
            <li>Sloturi expansiune: x{{ product.slotnum }}</li>
            {% endblock %}
            {% block coolerinfo %}
            <li>Tip: {{ product.type }}</li>
            <li>Racire: {{ product.cooling }}</li>
            <li>Inaltime: {{ product.height }} mm</li>
            <li>Numar Ventilatoare: {{ product.ventcount }}</li>
            <li>Dimensiune ventilator: {{ product.ventsize }} mm</li>
            {% endblock %}
{#        </ul></p>#}
{#    </div>#}
{#    <a href="{{ product.product_link }}" class="btn btn-success align-self-center mb-2">Adauga in cos</a>#}
{#</div>#}