{% extends 'base.html.twig' %}

{% block title %}Add Product{% endblock %}

{% block bodystyle %}
{% endblock %}
{% block headerdiv %}{% endblock %}

{% block javascripts %}
{#    {{ encore_entry_script_tags('app') }}#}
{% endblock %}

{% block body %}

        {{ form_start(form) }}
    <div class="d-flex">
        <div class="col-1"></div>
    <h4 class="text-white col-11 ps-5">Add Location</h4>
    </div>
    <div class="container d-flex">


            <div class="errors">
                {{ form_errors(form) }}
            </div>

            <div class="col-6 container-fluid bg-white border p-5 pt-4 rounded mx-auto">
                    <div class="row input-group mb-3 ms-1">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name) }}
                    </div>
                    <div class="row input-group mb-3 ms-1">
                        {{ form_label(form.address) }}
                        {{ form_widget(form.address) }}
                    </div>
                    <div class="row input-group mb-3 ms-1">
                        {{ form_label(form.country) }}
                        {{ form_widget(form.country) }}
                    </div>
                    <div class="row input-group mb-3 ms-1">
                        {{ form_label(form.city) }}
                        {{ form_widget(form.city) }}
                    </div>
                <div class="row input-group mb-3 ms-1">
                    {{ form_label(form.coordX) }}
                    {{ form_widget(form.coordX) }}
                </div>
                <div class="row input-group mb-3 ms-1">
                    {{ form_label(form.coordY) }}
                    {{ form_widget(form.coordY) }}
                </div>
                <div class="row col-3 mx-auto">
                    {{ form_widget(form.submit) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascriptsend %}
{% endblock %}
