{% extends 'base.html.twig' %}

{% block title %}Add Product{% endblock %}

{% block bodystyle %}
    style="background-color: black"
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.min.css" integrity="sha512-TQQ3J4WkE/rwojNFo6OJdyu6G8Xe9z8rMrlF9y7xpFbQfW5g8aSWcygCQ4vqRiJqFsDsE1T6MoAOMJkFXlrI9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {#    {{ encore_entry_script_tags('app') }}#}
{% endblock %}

{% block body %}
        {{ form_start(form) }}
    <div class="d-flex">
        <div class="col-1 col-lg-2 ms-lg-5"></div>
    <h4 class="text-body col-10">Add Product</h4>
    </div>
    <div id="container" data-type="{{ type }}" class="container d-flex flex-column-reverse flex-lg-row">

            <div class="col-12 col-lg-6 ms-lg-5 container-fluid bg-white border p-5 pt-4 me-0 rounded">
                <div class="errors">
                    {{ form_errors(form) }}
{#                    TODO: RENDER ALL ERRORS HERE INSTEAD#}
{#                    {% for error in errors %}#}
{#                    <li>{{ error.message }}</li>#}
{#                    {% endfor %}#}
                </div>
                    <div class="row input-group mb-3 ms-1">

                        {{ form_label(form.product.name) }}
                        {{ form_errors(form.product.name) }}
                        {{ form_widget(form.product.name) }}
                    </div>
                    <div class="row input-group mb-3 ms-1">
                        {{ form_label(form.product.shortDesc) }}
                        {{ form_errors(form.product.shortDesc) }}
                        {{ form_widget(form.product.shortDesc) }}
{#                        TODO: FIX SHORT DESC#}
                        <div class="rounded-bottom bg-white" id="editor2">
                            <p>Hello World!</p>
                            <p>Some initial <strong>bold</strong> text</p>
                            <p><br></p>
                        </div>
                    </div>
                    <div class="row input-group mb-3 ms-1">
                        {{ form_label(form.product.description) }}
                        {{ form_errors(form.product.description) }}
                        {{ form_widget(form.product.description) }}
                        <div class="rounded-bottom bg-white" id="editor">
                            <p>Hello World!</p>
                            <p>Some initial <strong>bold</strong> text</p>
                            <p><br></p>
                        </div>
                    </div>
                    <div class="row input-group mb-3">
                        {{ form_label(form.product.thumbnail) }}
                        {{ form_errors(form.product.thumbnail) }}
                        {{ form_widget(form.product.thumbnail) }}
                    </div>
                <div class="row input-group mb-3">
                    {{ form_label(form.product.productImages) }}
                    {{ form_errors(form.product.productImages) }}
                    {{ form_widget(form.product.productImages) }}
                </div>
                    <div class="row input-group mb-3">
                        <label for="img_showcase">Showcase</label>
                        <input type="file" id="img_showcase" name="img_showcase" accept="image/*">
                    </div>
                    <div class="row input-group mb-3">
                        <div class="col-6">
                            {{ form_errors(form.product.price) }}
                        </div>
                        <div class="col-6">
                            {{ form_errors(form.product.SKU) }}
                        </div>
                        <div class="col-6">
                            {{ form_label(form.product.price) }}
                        </div>
                        <div class="col-6">
                            {{ form_label(form.product.SKU) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(form.product.price,{
                                'attr':{
                                    'class':'col-12',
                                }
                            }) }}
                        </div>
                        <div class="col-6">
                        {{ form_widget(form.product.SKU,{
                            'attr':{
                                'class':'col-12',
                            }
                        }) }}
                        </div>
                    </div>

                    <div class="row input-group mb-3 ms-1">
                        <label for="category">Categorie</label>
                        {{ form_errors(form.type) }}
                        {{ form_widget(form.type) }}
                    </div>
                    <div class="row" id="formdiv">
                        {% include 'forms/subform_template.html.twig' with {'subform': form.embeddedForm,'subform_id': 1} %}
                    </div>
            </div>
            <div class="col-12 col-lg-4 container-fluid ms-lg-5 bg-white border p-5 pt-4 rounded">
                <div class="row input-group border-bottom">
                <label for="status">Status Produs</label>
                    {{ form_errors(form.product.status) }}
                    {{ form_widget(form.product.status) }}
                </div>
                <div class="row input-group pb-3 border-bottom">
                    <label for="seller">Vanzator</label>
                    {{ form_errors(form.product.seller) }}
                    {{ form_widget(form.product.seller) }}
                </div>
                <div class="row input-group border-bottom mt-2">
                    <label for="seller">Etichete</label>
                    <span class="input-group-text col-2"><i class="bi bi-search"></i></span><input class="form-control col-5" placeholder="Cauta eticheta" name="seller" type="text">
                    <p class="form-text">Adauga o eticheta din cele deja existente la produs pentru a fi mai usor de gasit.</p>
                </div>
                <div class="row input-group mt-2">
                                        {{ form_errors(form.product.productInventories) }}
                                        <table id="locationtable" class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th scope="col">Locatie</th>
                                                <th scope="col">Cantitate</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for productInventory in form.product.productInventories %}
                                                <tr>
                                                <td>
                                                <label>{{ productInventory.vars.data.location.name }}</label>
                                                </td>
                                                <td>
                                                    {{ form_widget(productInventory) }}
                                                </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                </div>
            </div>
        {{ form_row(form._token) }}
    </div>
    {{ form_end(form,{'render_rest':false}) }}
{% endblock %}
{% block javascriptsend %}
    <script src=" https://cdn.jsdelivr.net/npm/quill-image-drop-module@1.0.3/image-drop.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/@botom/quill-resize-module@2.0.0/dist/quill-resize-module.js" integrity="sha256-gTRDF8F0xoFWFk4MTlXJXwQXiQBBCf2l3wcgkfEO/Zs=" crossorigin="anonymous"></script>
    <script src="/js/addproduct.js"></script>
{% endblock %}
