{#<li>Tip: {% if cooler.ctype is empty %} N/A {% else %} {{ cooler.ctype }} {% endif %}</li>#}
{#<li>Racire: {% if cooler.cooling == false %} Nu {% else %} Da {% endif %}</li>#}
{#<li>Inaltime: {% if cooler.coolerheight is empty %} N/A {% else %} {{ cooler.coolerheight }} mm {% endif %}</li>#}
{#<li>Numar Ventilatoare: {% if cooler.vents is empty %} N/A {% else %} {{ cooler.vents|length }} {% endif %}</li>#}
{#<li>Dimensiune ventilator: {% if cooler.coolersize is empty %} N/A {% else %} {{ cooler.coolersize }} mm {% endif %}</li>#}
<p class="text-dark-emphasis" style="font-size:0.8rem">{{ cooler.ctype }} Cooling {{ cooler.coolersize }} x {{ cooler.coolerheight }} mm </p>