{#<li>Format: {% if mb.format is empty %} N/A {% else %} {{ mb.format }} {% endif %}</li>#}
{#<li>Soclu procesor: {% if mb.cpusocket is empty %} N/A {% else %} {{ mb.cpusocket }} {% endif %}</li>#}
{#<li>Producator chipset: {% if mb.chipset is empty %} N/A {% else %} {{ mb.chipset }} {% endif %}</li>#}
{#<li>Model chipset: {% if mb.modelchipset is empty %} N/A {% else %} {{ mb.modelchipset }} {% endif %}</li>#}
{#<li>Interfata grafica: {% if mb.mbinterface is empty %} N/A {% else %} {{ mb.mbinterface }} {% endif %}</li>#}
{#<li>Tip Memorie: {% if mb.mbmemory is empty %} N/A {% else %} {{ mb.mbmemory }} {% endif %}</li>#}
{#<li>Tehnologie: {% if mb.tech is empty %} N/A {% else %} {{ mb.tech }} {% endif %}</li>#}
<p class="text-dark-emphasis" style="font-size:0.8rem">{{ card.format }} Format {{ card.modelchipset}} Chipset {{ card.memory }}</p>