<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
{#        <meta http-equiv="Content-Security-Policy"#}
{#              content="default-src 'self'; script-src https://checkout.stripe.com; frame-src https://checkout.stripe.com; img-src https://*.stripe.com; connect-src https://checkout.stripe.com; child-src 'none'; object-src 'none'">#}
{#        <script src="https://js.stripe.com/v3/"></script>#}
        <script
                src="https://code.jquery.com/jquery-3.6.4.js"
                integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
                crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
{#        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">#}
        {% block stylesheets %}
{#            {{ encore_entry_link_tags('app') }}#}
        <link rel="stylesheet" href="/css/admin.css">
        {% endblock %}

        {% block javascripts %}
{#            {{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <header>
        <div class="container-fluid text-light" style="background-color:#1c2540;">
            <div class="row">
                {% block navbar %}
                    <nav class="navbar navbar-expand-lg fixed-top " style="background-color:#1c2540;">
                        <div class="container-fluid">
                            <a class="navbar-brand text-white" href="/">Hardware Trove</a>
                            <button class="navbar-toggler text-bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link {% block navhome %}{% endblock %} text-white" aria-current="page" href="/"><i class="bi bi-house"></i> Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="/pcbuilder"><i class="bi bi-pc-display"></i> PC Builder</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-list"></i> Catalog
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="{{ path('app_search') }}">All components</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="{{ path('app_catalog',{value:'gpu'}) }}">GPUs</a></li>
                                            <li><a class="dropdown-item" href="{{ path('app_catalog',{value:'cpu'}) }}">CPUs</a></li>
                                            <li><a class="dropdown-item" href="{{ path('app_catalog',{value:'memory'}) }}">Memory sticks</a></li>
                                            <li><a class="dropdown-item" href="{{ path('app_catalog',{value:'motherboard'}) }}">Motherboards</a></li>
                                            <li><a class="dropdown-item" href="{{ path('app_catalog',{value:'ssd'}) }}">SSDs</a></li>
                                            <li><a class="dropdown-item" href="{{ path('app_catalog',{value:'hdd'}) }}">HDDs</a></li>
                                            <li><a class="dropdown-item" href="{{ path('app_catalog',{value:'psu'}) }}">PSUs</a></li>
                                            <li><a class="dropdown-item" href="{{ path('app_catalog',{value:'pccase'}) }}">PC Cases</a></li>
                                            <li><a class="dropdown-item" href="{{ path('app_catalog',{value:'cooler'}) }}">Coolers</a></li>
                                        </ul>
                                    </li>
                                    {% if is_granted("ROLE_ADMIN") %}
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-white" href="{{ path('app_admin') }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-shield"></i> Admin
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="{{ path('app_admin') }}"><i class="bi bi-card-list"></i> Menu</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" href="{{ path('app_add_product') }}"><i class="bi bi-plus-lg"></i> Add Product</a></li>
                                                <li><a class="dropdown-item" href="{{ path('app_admin_add_discount') }}"><i class="bi bi-plus-lg"></i> Add Discount</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" href="{{ path('app_add_location') }}"><i class="bi bi-plus-lg"></i> Add Location</a></li>
                                            </ul>
                                        </li>
                                    {% endif %}
                                </ul>
                                <form id="search-form" action="{{ path('app_search') }}" class="d-flex col-12 col-lg-4 ms-lg-5" role="search">
                                    <input id="search-inpt" class="form-control me-2" type="search" placeholder="Denumire sau cod produs..." aria-label="Search">
                                    <button id="search-btn" class="btn btn-outline-light" type="submit">Search</button>
                                </form>
                                <ul class="navbar-nav ms-auto">
                                    {% if is_granted("ROLE_USER") %}
                                    <li class="nav-item">
                                        <a class="nav-link text-light">Hello, {{ app.user.firstName }} {{ app.user.lastName }}!</a>
                                    </li>
                                    {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link text-light">You are not logged in.</a>
                                    </li>
                                    {% endif %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-white" href="{% if is_granted("ROLE_USER") %}{{ path('app_user_settings') }}{% else %}{{ path('app_register') }}{% endif %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-person-circle"></i> User
                                        </a>
                                        <ul class="dropdown-menu">
                                            {% if is_granted("ROLE_USER") %}
                                                <li><a class="dropdown-item" href="{{ path('app_user_settings') }}"><i class="bi bi-card-list"></i> Settings</a></li>
                                                <li><a class="dropdown-item" href="{{ path('app_logout') }}"><i class="bi bi-door-closed"></i> Logout</a></li>
                                            {% else %}
                                                <li><a class="dropdown-item" href="{{ path('app_login') }}"><i class="bi bi-door-open"></i> Login</a></li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-cart3"></i> Cart
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end shoppingCart" style="min-width:300px;">
                                            {% set cart = cart() %}
                                            {% include 'element_templates/cart.html.twig' with {'cart': cart} %}
                                        </ul>
                                    </li>
                                    {#                    <li class="nav-item">#}
                                    {#                        <a class="btn btn-outline-dark me-1" href="{{ path('app_cart') }}"><i class="bi bi-cart3"></i>Cart</a>#}
                                    {#                    </li>#}
                                </ul>
                            </div>
                        </div>
                    </nav>
{#                    <img src="https://i.pinimg.com/originals/92/42/d9/9242d9ef0ba2d70e74a1997bbf4960d7.jpg" height="250px" width="100%">#}
                {% endblock %}
                <div class="container col-xxl-8 px-4 py-5">
                    {% block headerdiv %}
                    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                        <div class="col-10 col-sm-8 col-lg-6">
                                                        <img src="/icons/undraw_online_wishes_dlmr.png" class="d-block mx-lg-auto img-fluid rounded" alt="Bootstrap Themes" loading="lazy" width="700" height="500">
                        </div>
                        <div class="col-lg-6">
                            <h1 class="display-5 fw-bold text-white-emphasis lh-1 mb-3">Check out our handy PC Builder.</h1>
                            <p class="lead">Not sure what you need? We have a PC Builder to assist you in making a satisfactory purchase. Check it out <a href="{{ path('app_pcbuilder_choice') }}">here</a> or click the "PC Builder" button above.</p>
{#                            <div class="d-grid gap-2 d-md-flex justify-content-md-start">#}
{#                                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>#}
{#                                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>#}
{#                            </div>#}
                        </div>
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </header>
    <body class="bg-light" {% block bodystyle %} {% endblock %}>

        {% block body %}{% endblock %}

        <script src="/js/cart.js"></script>
        <script src="/js/search.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    {% block javascriptsend %}{% endblock %}

    </body>
</html>
